ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

img {
    display: block;
    position: relative;
    float: left;
    width: auto;
    padding: 50px;
}

main {
    clear: left;
}

h3 {
    text-decoration: underline;
    color: green;
}

.intro{
    margin: auto;
    width: 70%;
    padding: 50px;
}

footer{
    background-color: lightblue;
    text-align: center;
}